<h1>
  <%= "#{Movie.count} #{"Movie".pluralize(Movie.count, :en)}" %>
</h1>

<ul>
  <% @movies.each do |movie| %>
    <article>
      <header>
        <h2><%= movie.title %></h2>
      </header>
      <p>
        <%= truncate(movie.description, length: 40, separator: ' ') %>
      </p>
      <table>
        <tr>
          <th>Released:</th>
          <% release_date = movie.released_on%>
          <td><%=  "#{release_date} (#{time_ago_in_words(release_date)} ago)" %></td>
        </tr>
        <tr>
          <th>Rating:</th>
          <td><%= movie.rating %></td>
        </tr>
        <tr>
          <th>Total Gross:</th>
          <td><%= number_to_currency(movie.total_gross) %></td>
        </tr>
      </table>
    </article>
  <% end %>
</ul>
