<article id="user">
  <header id="content-header">
    <h1> <%= @user.name %> </h1>
    <h2> <%= mail_to(@user.email) %> </h2>
  </header>

  <% if @reviews.any? %>
    <ol id="reviews">
      <h3>Reviews</h3>
      <% @reviews.each do |review| %>
        <li>
          <%= link_to review.movie.title, review.movie %>
          <span class="review"><%= pluralize(review.stars, "star") %></span>
          <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
          <p>
            &quot;<%= review.comment %>&quot;
          </p>
        </li>
      <% end %>
    </ol>
  <% end %>

  <footer>
    <nav>
      <% if current_user?(@user) %>
        <%= link_to 'Edit Account', edit_user_path(@user), class: 'button' %>
        <%= link_to 'Delete Account', @user,
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </nav>
  </footer>
</article>

<% content_for :side do %>
  <% if @favorite_movies.any? %>
    <h3>Favorite Movies</h3>
      <ul>
        <% @favorite_movies.each do |favorite_movie| %>
          <li>
            <%= link_to favorite_movie.title, favorite_movie %>
          </li>
        <% end %>
      </ul>
  <% end %>
<% end %>
